/* public/css/forgot-password.css */

body {
    background-color: #FBF8CC !important; /* Light gray background */
}

h3 {
    color: #343a40; /* Dark gray text for the heading */
}

.container {
    max-width: 700px !important; /* Set a maximum width */
    margin: auto; /* Center the container */
    border: 1px solid #dee2e6; /* Light border */
    border-radius: 0.5rem; /* Rounded corners */
    padding: 1.5rem; /* Less padding around the form */
    background-color: #ffffff; /* White background for the form */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}


.alert {
    margin-bottom: 1rem; /* Space below the alert */
}

.btn-primary {
    background-color:  #f28482 !important; /* Primary button color */
    border-color: #007bff; /* Border color to match */
}