body {
    background-color: #FBF8CC !important;
    font-family: Arial, sans-serif;
}

.card {
    width: 450px;
    height: 350px !important; /* ← adjust this value as needed */
    border-radius: 10px;
    background-color: #B9FBC0 !important;
}


h2 {
    font-weight: bold;
    color: #181d1f !important;
}

.form-control {
    border-radius: 8px;
    border: 1px solid #B9FBC0  !important;
    background-color: #FDE4CF  ;
    color: black;
}

.form-control:focus {
    border-color: #FFCFD2  ;
    box-shadow: 0 0 5px #FFCFD2  ;
}

.btn-login {
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    padding: 12px;
    background-color: #a3c4f3 !important;
    color: black;
    transition: all 0.3s ease-in-out;
}

.btn-login:hover {
    background-color: #cfbaf0 !important;
}

.register-link {
    color: #26292e;
    text-decoration: none;
    font-weight: bold;
}

.register-link:hover {
    color: #cfbaf0  !important;
}
