body {
    background-color: #FBF8CC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    background-color: #CFBAF0;
    width: 400px;
    border-radius: 10px;
}

h2 {
    color: #131516;
}

.form-control, .form-check-input {
    background-color: #F1C0E8;
    border: none;
    color: black;
}

.btn {
    background-color: #8EECF5;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.btn:hover {
    background-color: #98F5E1;
}

a {
    color: #16181a;
    text-decoration: none;
}

a:hover {
    color: #90DBF4;
}

.form-check-label {
    font-size: 0.9rem;
}