body {
    background-color:  #FBF8CC !important;
    font-family: Arial, sans-serif;
}

.reset-card {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

h3 {
    color: #343a40;
}

.alert {
    margin-bottom: 20px;
}

.form-label {
    font-weight: 600;
}

.btn-primary {
    background-color:  #f28482 !important; /* Primary color */
    color: black !important;
    border-color: #007bff; /* Border color */
}

.btn-primary:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

#password-strength,
#password-match {
    font-size: 0.9em;
    color: #6c757d; /* Default text color */
}